{{!< default}}
{{#contentFor 'ownCSS'}}
    <link rel="stylesheet" href="/css/question.css"/>
{{/contentFor}}
{{#contentFor 'ownJS'}}
    <script src="http://cdn.bootcss.com/jquery.address/1.6/jquery.address.min.js"></script>
    <script src="http://cdn.bootcss.com/ace/1.1.3/ace.js"></script>
    <script src="/javascript/editor.js"></script>
    <script src="/javascript/question.js"></script>
    <script src="/javascript/baidu.js"></script>
{{/contentFor}}

<div class="ui grid">
    <div class="four wide column">
        <div class="ui secondary segment">
            <h2 class="ui dividing header">{{question.title}}</h2>
            {{breaklines question.intro}}
        </div>
    </div>
    <div class="{{#if question.preview}}eight{{else}} twelve  {{/if}}  wide column ">
        {{>editor}}
        <div style="text-align: center;">
            {{#if edit}}
                <a class="ui orange button" href="/question/update/{{question._id}}">更新题目</a>
                <a class="ui red button" href="/question/delete/{{question._id}}">删除题目</a>
            {{/if}}
            {{#if submit}}
                <button class="ui green button submit" id="submit">提交代码</button>
            {{/if}}
        </div>
        <!--<div class="ui secondary segment">-->
        <!--<div class="ui corner label">-->
        <!--<i class="thumbs up icon" data-content = "赞"></i>-->
        <!--</div>-->
            <!--{{#comment question.answer}}-->
            <!--{{/comment}}-->
        <!--</div>-->
        {{#if hasAnwser}}
        {{#comment question.answer}}
        <div class="ui secondary segment">
            <div class="ui comments">
                <div class="comment">
                    <a class="avatar">
                        <img src="{{avatar}}">
                    </a>
                    <div class="content">
                        <a class="author">{{userId}}</a>
                    </div>
                    <div class="text">
                        {{content}}
                    </div>
                </div>
                <div class="ui icon button">
                    赞：<a class="point">{{point}}</a><i class="thumbs up icon" data-content="赞"></i>
                </div>
            </div>
        </div>
        {{/comment}}
        {{/if}}
        <div id="message">

        </div>
    </div>
    {{#if question.preview}}
        <div class="four wide column">
            <div class="ui secondary segment" id="preview-container">
                <a class="ui right purple  corner label" id="preview-toggle">
                    <i class="fullscreen icon"></i>
                </a>
                <iframe id="preview" class="preview-normal">

                </iframe>
            </div>
        </div>
    {{/if}}
</div>